{%extends 'base.html'%}
{%load static%}
{%block 'head'%}
    <!--meu css-->
    <link rel="stylesheet" href="{% static 'reserva/css/email.css'%}">
{%endblock%}
{%block 'body'%}
    <header>
        <img class="imge" src="https://media-exp1.licdn.com/dms/image/C4E16AQHTLuaKXY_Mjg/profile-displaybackgroundimage-shrink_200_800/0/1614117738110?e=2147483647&v=beta&t=FYyG9m0HpGlHYhj_LnTTnns-_tQUEELzosUeECa0CFM" alt="">
    </header>
    <main>
      <div class="texto">
        <h4>{{ nome }}, {{ email }} </h4>
        <p>{{ subject }}</p>
        <h4>Mensagem:</h4>
        <p>{{ mensagem }}</p>
 
        </div>
        </main>
        <footer>
            acesse:https://ninnahub.com.br/
         </footer>
{%endblock%}
