.h1-meio-titulo {
    padding-top: 200px;
    text-align: center;
    font-weight: bold;
}
.mae {
    margin-bottom: 80px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quadrado-opcoes{
    background: linear-gradient(135deg, rgb(53,62,135) 39%,rgb(14,0,98) 101%);
    padding: 50px;
    margin: 10px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
}

.quadrado-opcoes:hover {
    background: rgb(53,62,135)41%;

}

.a-italico {
    font-style: italic;
}

.link-admin {
    width: 32%;
    padding: 20px;
    color: white;
}

.quadrado-opcoes p:hover {
    color: white;
}

.link-admin a:hover {
    color: white;
}