:root {
    --branco: #FFF;
    --cinza: #808080;
    --azul-ninna: #00257A;
    --azul-escuro-ninna: #001c5c;
    --verde-ninna: #57B952;
    --branco-ninna: #ECEDEE;
    --preto-ninna: #000;

    --fonte-ninna: 'Poppins', sans-serif;
}