* {
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 300px;
}

#sumir {
    display: none;
}

.primeira-parte {
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

.primeira-parte input {
    width: 70%;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.butao-lupa {
    width: 5%;
    height: 40px;
    background: white;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
}

.butao-lupa:hover {
    background: #d8d8d8;
}

.butao-lupa img {
    width: 30%;
}

.botoes {
    margin-left: 170px;
}

.botoes button{
    border-radius: 10px;
}

.botoes button:hover {
    background: rgb(14,0,98);
}

.segura-parte-branca { 
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.parte-branca {
    width: 30%;
    background: linear-gradient(135deg, rgb(53,62,135) 39%,rgb(14,0,98) 101%);
    margin-top: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.parte-branca h1{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-left: 20px;
}

.parte-branca p {
    margin-top: 17px;
    color: white;
}

.parte-branca button {
    color: white;
}

.parte-branca button:hover {
    color: white;
    background: rgb(14,0,98);
}

a {
    text-decoration: none;
}

.link-btn-check_out {
    color: black;
}

.botao {
    width: 40%;
    border-radius: 10px;
    height: 60px;
    background:  rgb(14,0,98);
    color: black;
    border: 2px solid black;
}

.botao p {
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.botao:hover {
    transition: 0.3s;
    cursor: pointer;
}

.botao-form {
    background: rgb(53,62,135);
    padding: 5px;
    border-radius: 7px;
    color: white;
}

.botao-form:hover {
    cursor: pointer;
}

.label-texto {
    padding-top: 40px;
    font-size: 20px;
    color: white;
}

/* #quantidade {
    width: 7%;
    border-radius: 20px;
} */

.botoes-check {
    margin-top: 150px;
    margin-left: 30px;
}

.botoes-check input {
    margin-left: 200px;
    width: 40%;
    height: 40px;
}

.ajeitar-botoes {
    background: rgb(53,62,135); 
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.semdados{
    margin-top: 100px;
    text-align: center;
}
.semdados img{
    width: 100px;
}

.messages {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#imagem-modal{
    width: 60px;
    height: 60px;
}

.modal-content {
    margin-top: 180px;
}

#quantidade {
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
}

.btn-checkin {
    width: 100%;
    height: 50px;
    font-weight: bold;
    background: rgb(14,0,98);
}