* {
    margin: 0;
    padding: 0;
}

#sumir {
    display: none;
}

.parte-branca {
    width: 50%;
    background: linear-gradient(135deg, rgb(53,62,135) 39%,rgb(14,0,98) 101%);
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 120px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parte-branca h1{
    color: rgb(255, 255, 255);
}

.parte-branca p {
    margin-top: 17px;
    color: white;
}

a {
    text-decoration: none;
}

.botao {
    display: flex;
    padding: 10px 20px;
    border-radius: 15px;
    background:  #ECEDEE;
    color: black;
    padding-top: 20px;
}

.botao:hover {
    transition: 0.3s;
    cursor: pointer;
}

.botao-form {
    background: rgb(53,62,135);
    margin-left: 5px;
    padding: 5px;
    border-radius: 7px;
    color: white;
}

.botao-form:hover {
    cursor: pointer;
}

.label-texto {
    padding-top: 40px;
    font-size: 20px;
    color: white;
}

#quantidade {
    width: 7%;
    border-radius: 20px;
}

.botoes-check {
    margin-top: 150px;
    margin-left: 30px;
}

.botoes-check input {
    margin-left: 200px;
    width: 40%;
    height: 40px;
}

.ajeitar-botoes {
    background: rgb(53,62,135); 
    color: white;
    padding: 7px;
    border-radius: 10px;
}