.ajustar-margim {
    margin-top: 0px;
}

.row-ajustar {
    margin-top: 150px;
}

.img-ajus {
    width: 350px;
    height: 230px;
}

.blue {
    background:rgb(14,0,98);
}

.ajustar-a {
    border-radius: 10px;
}

.card-body a:hover {
    text-decoration:none;
    background: rgb(14,0,98);
    color: white;  
}