.main-gerenciar-usuario {
    margin-top: 150px;
    margin-bottom: 170px;
    margin-left: 40px;
    margin-right: 40px;
}

.butao-lupa:hover {
    background: #d8d8d8;
}

.butao-lupa img {
    width: 40%;
}

.primeira-parte {
    width: 100%;
    text-align: center;
}

.primeira-parte input {
    width: 70%;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}   

.botoes-abrir_chamado {
    margin-left: 450px;
    margin-bottom: 20px;
}

.botoes-abrir_chamado button {
    border-radius: 10px;
}

.botoes-abrir_chamado button:hover {
    background: rgb(14,0,98);
}

#ambiente {
    width: 400px;
}

.modal-content {
    margin-top: 150px;
}
#imagem-modal{
    width: 60px;
    height: 60px;
}
.btn-same-tamanho {
    width: 200px;
}

.table-dark th {
    background: rgb(14,0,98);
    text-align: center;
}

.borda-table td {
    text-align: center;
}

.mainBtn {
    border-radius: 10px;
}

.flex-btn-espaco {
    display: flex;
    margin-top: -20px;
}

.flex-btn-espaco button {
    font-size: 11px;
}

.flex-btn-espaco button:hover {
    background: rgb(14,0,98);
}

.btn-editar{
    width: 50%; 
    margin-right: 20px;
}

.btn-excluir {
    width: 50%;
}

.p-deseja-edit {
    font-weight: bold;
    font-size: 20px;
}

.input-nome {
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.input-img {
    margin-bottom: 20px;
}

.class-text_area {
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.input-capaci {
    border-radius: 5px;
    border: 1px solid gray;
}

.img-ajus {
    width: 300px;
    height: 200px;
}
