.main-gerenciar-usuario {
    margin-top: 150px;
    margin-bottom: 170px;
}

.main-gerenciar-reserva {
    margin-top: 120px;
    margin-bottom: 170px;
}

.div-botao-adicionar {
    position: absolute;
    background: rgb(14,0,98);
    width: 100px;
    border-radius: 10px;
    margin-left: -140px;
    margin-bottom: -50px;
    top: 145px;
}

.div-botao-adicionar a {
    color: white;
}

.div-botao-adicionar a:hover {
    color: white;
}

.primeira-parte {
    width: 100%;
    text-align: center;

}

.primeira-parte input {
    width: 70%;
    height: 40px;
    margin-left: -300px;
}

.table {
    margin-top: 80px;
    margin-left: -185px;
    margin-bottom: 200px;
}

.table-dark th{
    background: rgb(14,0,98);
    border: 1px solid white;
}

.borda-table td{
    border: 1px solid #bab8b5;
}

.img-lupa {
    width: 2%;
}

.fa-pen {
    padding-right: 10px;
}

.fa-trash {
    padding-right: 10px;
}



