.main-gerenciar-usuario {
    margin-top: 150px;
    margin-bottom: 170px;
    margin-left: 400px;
}

.main-gerenciar-reserva {
    margin-top: 120px;
    margin-bottom: 170px;
    margin-left: 60px;
    margin-right: 60px;
}

.div-botao-adicionar {
    position: absolute;
    background: rgb(14,0,98);
    width: 100px;
    border-radius: 10px;
    margin-left: -144px;
    margin-bottom: -50px;
    top: 145px;
}

.div-botao-adicionar a {
    color: white;
}

.div-botao-adicionar a:hover {
    color: white;
}

.primeira-parte {
    width: 100%;
    text-align: center;
}

.butao-lupa {
    width: 5%;
    height: 40px;
    background: white;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
}

.butao-lupa:hover {
    background: #d8d8d8;
}

.butao-lupa img {
    width: 40%;
}

.h1_gerenciar-reserva {
    text-align: center;
}

.primeira-parte input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
}

.table {
    margin-top: 40px;
    margin-bottom: 200px;
}

.table-dark th{
    text-align: center;
    background: rgb(14,0,98);
}

.borda-table td{
    text-align: center;
}

.img-lupa {
    width: 2%;
}

.fa-pen {
    padding-right: 10px;
}

.fa-trash {
    padding-right: 10px;
}
.semdados{
    margin-top: 80px;
}
.semdados img{
    width: 100px;
    margin-left: 18%;
}

.td-btn_remover_usuario button {
    font-size: 13px;
}


