.principal {
  margin-top: 12rem;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.dados-agente, .dados-empresa, .dados-evento {
  margin: 4rem 0;
}
.titulo {
  color: rgb(14,0,98);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.input-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.input-padrao {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0 1rem;
  outline: none;
  width: calc(40vw - 1rem);
}
#lista-participante {
  position: absolute;
  left: -9999px;
}
#lista-participante-box {
  background-color: var(--branco);
  color: var(--cinza);
}
#icone-arquivo {
  padding-right: 0 0.5rem;
}
#descricao-evento {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
  resize: none;
  padding: 0.3rem 0.3rem;
  width: 80vw;
  outline: none;
  max-width: 1077px;
}
#botao-confirmar {
  border-radius: 5px;
  background-color: #0e0062;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  transition: background-color 300ms;
  width: 30%;
}

@media screen and (max-width: 833px) {
  .input-box {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .input-padrao {
    width: 80vw;
    margin-bottom: 1rem;
  }
  #botao-confirmar {
    width: 60%;
  }
}