{% extends 'base.html' %}
{% load static %}
{% block 'head' %}<link rel="stylesheet" href="{% static 'reserva/css/admin.css'%}">{% endblock %}
{% block 'title' %}NinnaHub - Página do Administrador {% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
{% if user.is_authenticated %}
    {% if nivel.status == 'TOP' %}
            <div class="h1-meio-titulo">
                <h1> Olá, {{nivel.usuario.username}}</h1>
            </div>
            <section class="mae">
                <a href="{% url 'check_in' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Realizar Check-in/Check-out</p>
                    </div>
                </a>
                <a href="{% url 'gerenciar_espacos' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Gerenciar Espaços</p>
                    </div>
                </a>
                <a href="{% url 'gerenciar_relatorios' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Gerenciar Relatórios</p>
                    </div>
                </a>
                <a href="{% url 'gerenciar_reserva' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Gerenciamento de Reservas</p>
                    </div>
                </a>
                <a href="{% url 'gerenciar_usuario' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Gerenciamento de Usuários</p>
                    </div>
                </a>
                <a href="{% url 'gerenciar_chamados' %}" class="link-admin">
                    <div class="quadrado-opcoes">
                        <p>Gerenciameto de Chamados</p>
                    </div>
                </a>
                <!-- <div class="quadrado-opcoes">
                    <a href="">Deslogar</a>
                </div> -->
            </section>
    {% elif nivel.status == 'RCP' %}
    <div class="h1-meio-titulo">
        <h1> Olá, {{nivel.usuario.username}}</h1>
    </div>
    <section class="mae">
        <div class="quadrado-opcoes">
            <a href="{% url 'check_in' %}">Realizar Check-in/Check-out</a>
        </div>
        <div class="quadrado-opcoes">
            <a href="{% url 'gerenciar_reserva' %}">Gerenciamento de Reservas</a>
        </div>
        <div class="quadrado-opcoes">
            <a href="">Gerenciar Uso dos Espaços</a>
        </div>
        <!-- <div class="quadrado-opcoes">
            <a href="">Deslogar</a>
        </div> -->
    </section>
    {% endif %}
{%else%}
{%endif%}
     <!-- Começo do footer -->
{% include 'partials/_footer.html' %}
<!-- Final do footer -->
{% endblock %}