{% extends 'base.html' %}
{% load static %}
{% block 'head' %}<link rel="stylesheet" href="{% static 'reserva/css/login.css'%}">{% endblock %}
{% block 'title' %}NinnaHub - Login Administrador{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-login.html' %}
<!-- login -->
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
           
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card py-3 px-2">
                    <div class="messages">{% include 'partials/_alertas.html' %}</div>
                    <p class="text-center mb-3 mt-2 p-login">FAÇA SEU LOGIN</p>
                    <form action="{% url 'login' %}" method="POST" class="myform">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="E-mail" required>
                          </div>
                         <div class="form-group">
                            <input name="senha" type="password" class="form-control" placeholder="Senha" required>
                          </div>
                          <div class="form-group mt-3">
                            <button type="submit" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i></i>Login</small></button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login -->
    <!-- Começo do footer -->
{% include 'partials/_footer.html' %}
    <!-- Final do footer -->
{% endblock %}