{%extends 'base.html'%}
{%load static%}
{%block 'head'%}
    <!--meu css-->
    <link rel="stylesheet" href="{% static 'reserva/css/email.css'%}">
{%endblock%}
{%block 'body'%}
    <header>
        <img class="imge" src="https://media-exp1.licdn.com/dms/image/C4E16AQHTLuaKXY_Mjg/profile-displaybackgroundimage-shrink_200_800/0/1614117738110?e=2147483647&v=beta&t=FYyG9m0HpGlHYhj_LnTTnns-_tQUEELzosUeECa0CFM" alt="">
    </header>
    <main>
      <div class="texto">
        <h1>Conclusão de Chamado</h1>
        <p><b>Nome do Solicitante:</b> {{nome_solicitante}}</p>
        <p><b>Ambiente:</b> {{ambiente}}</p>
        <p><b>Data de abertura do chamado:</b> {{data}}</p>
        <p><b>Objeto:</b> {{objeto}}</p>
        <h4>Descrição:</h4>
        <p>{{descricao}}</p>
        <hr>
        <p><b>Data de conclusão do chamado:</b> {{data_conclusao}}</p>
        <h4>Atualização:</h4>
        <p>{{atualizacao}}</p>
        <hr>

 
        </div>
        </main>
        <footer>
            acesse:https://ninnahub.com.br/
         </footer>
{%endblock%}
