    {% load static %}
<head>
</head>
<body>
    <header>
        <img class="imge" src="https://media-exp1.licdn.com/dms/image/C4E16AQHTLuaKXY_Mjg/profile-displaybackgroundimage-shrink_200_800/0/1614117738110?e=2147483647&v=beta&t=FYyG9m0HpGlHYhj_LnTTnns-_tQUEELzosUeECa0CFM" alt="">
    </header>    
    <main>
        <div class="texto">
            <h1>Reserva Cancelada</h1>
            <p>Espaço: {{espacos}}</p>
            <p>Agente: {{agente}}</p>
            <p>Data Reserva: {{data_reserva}}</p>
            <p>Hora inicio: {{hora_inicio}}</p>
            <p>Hora fim: {{hora_fim}}</p>
        </div>
    </main>
    <footer>
        acesse:https://ninnahub.com.br/
    </footer>
</body>
</html>