{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Gerenciamento de Usuário{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
        <main class="main-gerenciar-usuario">
            <div class="primeira-parte">
                <form action="{% url 'buscar_adm' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="buscar" placeholder="Pesquisar">
                    <button class="butao-lupa" type="submit"><a href="#"><img src="{% static 'reserva/images/lupa.png' %}" alt="lupa" class="img-lupa"></a></button>
                </form>
                    <div class="div-botao-adicionar"><a href="{% url 'adicionar_adm'%}">Adicionar Usuario</a></div>
            </div>
            
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th>Usuários</th>
                    <th><th>
                  </tr>
                </thead>
                <tbody>
                    {%if user %}
                    {%for user in user %}
                    <tr class="borda-table">
                        <td>{{user}}</td>
                        <td><a href="{% url 'editar_adm' user.id %}"><i class="fa-solid fa-pen"></i>Editar Usuário</a></td>
                        <td><a href="{%url 'deletar_adm' user.id %}"><i class="fa-solid fa-trash"></i>Deletar Usuário</a></td>
                    </tr>
                    {%endfor%}
                    {%else%}
                        <tr class="borda-table">
                            <td>Nenhum Usuario Encontrado, Informe o Nome de Usuario Corretamente</td>
                        </tr>
                    {%endif%}
                </tbody>
              </table>
</main>
<!-- Começo do footer -->
{% include 'partials/_footer.html' %}
<!-- Final do footer -->
{% endblock %}