{% load static %}
<head>
  <style>
    body{
      background-color: aliceblue;
    }
    .imge{
      width: 100%;
    }
    p{
      font-size: large;
    }
    .texto-container{
      position:relative;
    }
    .elemento{
      position: absolute;
      left: 60px;
      margin-top: 55px;
    }
    button{
      border-radius: 8px;
      background: rgb(67, 67, 239); 
      height: -3px;
    }

    .nomeb{
      color: rgb(255, 251, 251);
    }
  </style>
</head>
<body>
  
   <header class="header">
    <div class="fth">
     <img class="imge" src="https://media-exp1.licdn.com/dms/image/C4E16AQHTLuaKXY_Mjg/profile-displaybackgroundimage-shrink_200_800/0/1614117738110?e=2147483647&v=beta&t=FYyG9m0HpGlHYhj_LnTTnns-_tQUEELzosUeECa0CFM" alt="">
    </div>
   </header>
  
   
   <div>
   <main class="main">
    <div class="texto-container">
  <div class="elemento">    
  <h2>Olá, {{ agente }}.</h2>

  <h3> Você está a um passo de concluir seu cadastro, verifique se suas informações estão corretas.</h3> 

  <p>Agente: {{ agente }}</p>
  <p>Empresa: {{ empresa }}</p>
  <p>Nome do evento: {{ nome_evento }}</p>
  <p>Data Reserva: {{ data_reserva }}</p>
  <p>Hora inicio: {{ hora_inicio }}</p>
  <p>Hora fim: {{ hora_fim }}</p>
  
  <p> Deseja realmente confirmar sua reserva? se sim basta clicar o botão abaixo </p>
  <p>Link de Ativação: {{ link_ativacao }}</p>
  
    
  <h3> Se você não se cadastrou no Nina hub recentemente, por favor ignore este email e nós não entraremos em contato novamente.
    Nós não fazemos spam e respeitamos o direito de todo mundo à privacidade online
  Por isso, você precisa confirmar a sua reserva antes que nós possamos te enviar outros emails.</p> 
  
  </h3>
    
  <p>Desde ja agradeçemos</p> 
    
  <h3>Nina Hub</h3>
  </div>
      </div>
      
    </main>
    </div>
    <!--
    <section>
      <footer>
      enviado por: www.Ninahub.com.br
      </footer>
    </section>
    -->
</body>

</html>
