{% extends 'base.html' %}
{% load static %}

{% block 'title' %}NinnaHub - Check-in/Out{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
{% if user.is_authenticated %}
    {% if nivel.status == 'TOP' %}
            <div class="h1-meio-titulo">
                <h1> Olá, {{nivel.usuario.username}}</h1>
            </div>
            <section class="mae">
                <div class="quadrado-opcoes">
                    <a href="">Gerenciar Espaços</a>
                </div>
                <div class="quadrado-opcoes">
                    <a href="{% url 'check_in' %}">Check-in/Check-out</a>
                </div>
                <div class="quadrado-opcoes">
                    <a href="">Relatorios</a>
                </div>
                <div class="quadrado-opcoes">
                    <a href="{% url 'gerenciar_reserva' %}">Gerenciamento de Reservas</a>
                </div>
                <div class="quadrado-opcoes">
                    <a href="{% url 'gerenciar_usuario' %}">Gerenciamento de Usuários</a>
                </div>
                <div class="quadrado-opcoes">
                    <a href="{% url 'abrir_chamado' %}">Abrir Chamado</a>
                </div>
                <!-- <div class="quadrado-opcoes">
                    <a href="">Deslogar</a>
                </div> -->
            </section>
    {% elif nivel.status == 'RCP' %}
    <div class="h1-meio-titulo">
        <h1> Olá, {{nivel.usuario.username}}</h1>
    </div>
    <section class="mae">
        <div class="quadrado-opcoes">
            <a href="{% url 'check_in' %}">Check-in/Check-out</a>
        </div>
        <div class="quadrado-opcoes">
            <a href="{% url 'gerenciar_reserva' %}">Gerenciamento de Reservas</a>
        </div>
        <div class="quadrado-opcoes">
            <a href="">Relatorios</a>
        </div>
        <!-- <div class="quadrado-opcoes">
            <a href="">Deslogar</a>
        </div> -->
    </section>
    {% endif %}
{%else%}
{%endif%}
     <!-- Começo do footer -->
{% include 'partials/_footer.html' %}
<!-- Final do footer -->
{% endblock %}