{% extends 'base.html' %}
{% load static %}

{% block 'title' %}NinnaHub - Check-in/Out{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}

    <script>
        function Check(x) {
            var checar = new Date();
            console.log(checar.getHours() + ':' + checar.getMinutes());
            document.form.value = checar.getHours();

            if(x == "aparecer") {
            document.getElementById("sumir").style.display = "block";
          }
        }
    </script>
  {% if user.is_authenticated %}
      {% for caso in casos %}
          <div class="parte-branca">
            <h1>{{caso}}</h1>
              {% if caso.check_in == False%}
                <form action="{%url 'check_in' caso.id %}" method="POST" name="form" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Check-in</button>
                </form>
              {%else%}
                <a href="#" onclick="Check('aparecer')">
                  <div class="botao">
                      <p> Check-out</p>
                  </div>
                </a>
              <form action="{%url 'check_in' caso.id %}" method="POST" name="form" id="sumir" >
                <label for="quantidade" class="label-texto"> *Quantas pessoas utilizaram o ambiente?</label>
                {% csrf_token %}
                {{ form.as_p }}
                  <input type="text" name="quantidade" id="quantidade"/>
                  <input type="submit" value="Enviar" class="botao-form">
              </form>
              {%endif%}
          </div>
      {% endfor %}
  {%endif%}
    <!-- Começo do footer -->
    {% include 'partials/_footer.html' %}
    <!-- Final do footer -->
{% endblock %}
