{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Gerenciamento de Usuário{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
<main>
    <form action="{% url 'editar_adm' usuario.id %}" method="POST">
        {% csrf_token %}
        <label for="">Nome de Usuario</label>
        <input type="text" name="nome_usuario" value="{{usuario.username}}">
        <label for="">Email</label>
        <input type="email" name="email" value="{{usuario.email}}">
        <label for="">Setor</label>
        <select name = "nivel">
            <option value="TOP">Time Operacional</option>
            <option value="RCP">Recepção</option>
        </select>

        <button type="submit">Atulaizar Usuario</button>
    </form>
</main>
<!-- Começo do footer -->
{% include 'partials/_footer.html' %}
<!-- Final do footer -->
{% endblock %}