{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Gerenciamento de Usuário{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
        <main class="main-gerenciar-usuario">
            <div class="primeira-parte">
                <form>
                    <input type="text" placeholder="Pesquisar">
                    <a href="#"><img src="{% static 'reserva/images/lupa.png' %}" alt="lupa" class="img-lupa"></a>
                    <div class="div-botao-adicionar"><a href="{% url 'adicionar_adm'%}">Adicionar Usuario</a></div>
                </form>
            </div>
            
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th>Usuários</th>
                    <th><th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="borda-table">
                        <td></td>
                        <td><a href=""><i class="fa-solid fa-pen"></i>Editar Usuário</a></td>
                        <td><a href=""><i class="fa-solid fa-trash"></i>Deletar Usuário</a></td>
                    </tr>
                </tbody>
              </table>
            
            
            
            
            
            {% comment %} <div class="div-tabela">
                <table class="tabela">
                    <tr>
                        <th>Usuários</th>  
                        <th></th>
                        <th></th>                                     
                    </tr>
                {% for user in user %}
                    <tr>
                        <td>{{user}}</td>
                        <td><a href="{% url 'editar_adm' user.id %}"><i class="fa-solid fa-pen"></i>Editar Usuário</a></td>
                        <td><a href="#"><i class="fa-solid fa-trash"></i>Deletar Usuário</a></td>
                    </tr>
                {%endfor%}                                     
                </table>
            </div> {% endcomment %}
        </main>
        <!-- Começo do footer -->
{% include 'partials/_footer.html' %}
<!-- Final do footer -->
{% endblock %}