{% extends 'base.html' %}
{% load static %}
{% block 'head' %}<link rel="stylesheet" href="{% static 'reserva/css/check.css'%}"/>{% endblock %}
{% block 'title' %}NinnaHub - Check-in/Out{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}
<div class="primeira-parte"> 
  <form action="{% url 'check_in' %}" method="POST">
    {% csrf_token %}
      <input type="text" name="buscar" placeholder="Pesquisar por empresa">
      <button class="butao-lupa" type="submit"><a href="#"><img src="{% static 'reserva/images/lupa.png' %}" alt="lupa" class="img-lupa"></a></button>
  </form>
</div>
<div class="botoes">
  <a href="{% url 'check_in'%}"><button class="mainBtn">Check-in</button></a>
  <a href="{% url 'check_out'%}"><button class="mainBtn">Check-out</button></a>
</div>
  {% if user.is_authenticated %}
  <div class="segura-parte-branca">
    {%if casos %}
      {% for caso in casos %}
      
          <div class="parte-branca"> 
            <h1>{{caso}}</h1>
            <p>Data reserva: {{caso.registro.data_reserva}}</p>
            <p>De: {{caso.registro.hora_inicio}} às {{caso.registro.hora_fim}}</p>
              {% if caso.check_in == False%}
                <form action="{%url 'realizar_check_in' caso.id %}" method="POST" name="form" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="botao-form">Check-in</button>
                </form>
              {%else%}
              {%endif%}
          </div>
      {% endfor %}
      {%else%}
      {% include 'partials/_sem-resultado.html' %}
      {%endif%}
  </div>
  {%endif%}
    <!-- Começo do footer -->
    {% include 'partials/_footer.html' %}
    <!-- Final do footer -->
{% endblock %} 
