{% extends 'base.html' %}
{% load static %}
{% block 'head' %}<link rel="stylesheet" href="{% static 'reserva/css/check.css'%}"/>{% endblock %}
{% block 'title' %}NinnaHub - Check-in/Out{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}

    <div class="botoes-check">
      <a href="{%url 'check_in'%}"><button class="ajeitar-botoes">Check-in</button></a>
      <a href="{%url 'check_out'%}"><button class="ajeitar-botoes">Check-out</button></a>
      <!-- <input type="text" placeholder="Pesquisar"></input><a href="#"><img src="{% static 'reserva/images/lupa.png' %}" alt="lupa" class="img-lupa"></a> -->
    </div>
  {% if user.is_authenticated %}
    {%if casos %}
      {% for caso in casos %}
          <div class="parte-branca">
            <h1>{{caso}}</h1>
            <p>Data reserva: {{caso.registro.data_reserva}}</p>
            <p>De: {{caso.registro.hora_inicio}} às {{caso.registro.hora_fim}}</p>
              {% if caso.check_in == False%}
                <form action="{%url 'realizar_check_in' caso.id %}" method="POST" name="form" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="botao-form">Check-in</button>
                </form>
              {%else%}
              {%endif%}
          </div>
      {% endfor %}
      {%else%}
        <div class="semdados"><img src="{% static 'reserva/images/ninna.png'%}"><h3>Nenhuma Reserva Para Check In No Momento</h3></div> 
      {%endif%}
  {%endif%}
    <!-- Começo do footer -->
    {% include 'partials/_footer.html' %}
    <!-- Final do footer -->
{% endblock %} 
