{% extends 'base.html' %}
{% load static %}
{% block 'head' %}<link rel="stylesheet" href="{% static 'reserva/css/check.css'%}"/>{% endblock %}
{% block 'title' %}NinnaHub - Check-in/Out{% endblock %}
{% block 'body' %}

{% include 'partials/_navbar-adm.html' %}

    <script>
        function Check(x) {
            var checar = new Date();
            console.log(checar.getHours() + ':' + checar.getMinutes());
            document.form.value = checar.getHours();

            if(x == "aparecer") {
            document.getElementById("sumir").style.display = "block";
          }
        }
    </script>
<div class="botoes-check">
    <a href="{%url 'check_in'%}"><button class="ajeitar-botoes">Check-in</button></a>
    <a href="{%url 'check_out'%}"><button class="ajeitar-botoes">Check-out</button></a>
    <!-- <input type="text" placeholder="Pesquisar"></input><a href="#"><img src="{% static 'reserva/images/lupa.png' %}" alt="lupa" class="img-lupa"></a> -->
</div>
  {% if user.is_authenticated %}
      {% for caso in casos %}
          <div class="parte-branca">
            <h1>{{caso}}</h1>
              {% if caso.check_in == True and caso.check_out == False %}
              <a href="#" onclick="Check('aparecer')">
                <div class="botao">
                    <p> Check-out</p>
                </div>
              </a>
            <form action="{%url 'realizar_check_out' caso.id %}" method="POST" name="form" id="sumir" >
              <label for="quantidade" class="label-texto"> *Quantas pessoas utilizaram o ambiente?</label>
              {% csrf_token %}
              {{ form.as_p }}
                <input type="text" name="quantidade" id="quantidade"/>
                <input type="submit" value="Enviar" class="botao-form">
            </form>
              {%endif%}
          </div>
      {% endfor %}
  {%endif%}
    <!-- Começo do footer -->
    {% include 'partials/_footer.html' %}
    <!-- Final do footer -->
{% endblock %}
